#root {
  padding: 0;
  text-align: center;
  min-height: 100vh;
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
}
:root{
    --primary_color: #f9f9f9;
}

body {
  background-color: var(--primary_color);
  margin: 0;
  padding: 0;
  height: 100%; 
}

h1, h2, p{
  color: black;
} 


.welcome{
  position: relative;
}

.photo1{
  width: 100%;
  display: block;
  height: auto;
}

.imagen-marco{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  z-index: 20;
}

.Names{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  color: #fff;
  z-index: 30;
}

.Date-info{
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-info{
  font-size: 2em;
  background-color: #a0a2a3;
}

.aboutUs h1{
  margin-top: 1.5em;
  margin-bottom: -0.3125em;
}

.frame1{
  width: 100%;
  height: auto;
  display: block;
}

.aboutUs-content{
  margin-left: 1em;
  text-align: left;
}

.moments h1{
  margin-top: 1.5em;
  margin-bottom: -0.3125em;
}

.details{
  text-align: center;
  background-color: rgb(228, 234, 234);
  border-radius: 0.2em;
  /*padding: 1em;*/
}

.details h1{
  margin-top: 0.5em;
  margin-bottom: -0.3125em;
}

.frame2{
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1em;
}

.detail-box{
  padding: 0.5em;
}

.detail-box h2, p{
  font-family: 'Montserrat', sans-serif;
}

.title-detail h2{
  background-color: #e4c36a;
  font-size: 2.5em;
  width: 60%;
  margin: 0 auto;
  border-radius: 0.3em;
}

.location-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
}


.dresscode {
  position: relative; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 150px; 
  overflow: hidden; 
  background-color: #ffffff; 
  padding: 20px;
}


.dresscode h1 {
  position: relative;
  z-index: 10; 
  
  
  color: #222222; 
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 0;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}


.dresscode-options {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; 
  
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 40px; 
}


.dresscode-img {
  
  opacity: 0.45;
  width: 40%; 
  max-width: 300px; 
  height: auto;
  object-fit: contain;
}

/* Opcional: Efecto sutil al pasar el mouse sobre la sección */
.dresscode:hover .dresscode-img {
  /* Se vuelven un poco más visibles y crecen ligeramente */
  opacity: 0.8;
  transform: scale(1.05);
}