:root{
  --primary_color: #f9f9f9;
  --desktop_bg: #2c3e50; 
}

body {
  background-color: var(--desktop_bg); 
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
}

#root {
  width: 100%;            
  max-width: 420px;       
  background-color: var(--primary_color); 
  box-shadow: 0 0 25px rgba(0,0,0,0.5);   
  margin: 0 auto;         
  overflow-x: hidden;     
  
  padding: 0;
  text-align: center;
  min-height: 100vh;
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
}


h1, h2, p{
  color: black;
} 

.welcome{
  position: relative;
}

.photo1{
  width: 100%;
  display: block;
  height: 10%;
}

.imagen-marco{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  z-index: 20;
}

.Names{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  color: #fff;
  z-index: 30;
  /* Agregamos esto por seguridad para que el texto no se rompa feo */
  width: 100%; 
}

.Date-info{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px
}

.countdown-info{
  font-size: 2em;
  background-color: #a0a2a3;
}

.aboutUs h1{
  margin-top: 1.5em;
  margin-bottom: -0.3125em;
}

.frame1{
  width: 100%;
  height: auto;
  display: block;
}

.aboutUs-content{
  margin-left: 1em;
  text-align: left;
}

.moments h1{
  margin-top: 1.5em;
  margin-bottom: -0.3125em;
}

.details{
  text-align: center;
  background-color: rgb(228, 234, 234);
  border-radius: 0.2em;
}

.details h1{
  margin-top: 0.5em;
  margin-bottom: -0.3125em;
}

.frame2{
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1em;
}

.detail-box{
  padding: 0.5em;
}

.detail-box h2, p{
  font-family: 'Montserrat', sans-serif;
}

.title-detail h2{
  background-color: #e4c36a;
  font-size: 2.5em;
  width: 60%;
  margin: 0 auto;
  border-radius: 0.3em;
}

.location-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 13px;
}


.itinerario-img{
  width: 110%;
}

.dresscode-img{
  width: 100%;
}